.MainTitle{
    padding-bottom: 10px;
    font-family: "HelveticaNeueLT Std Med";
}

.WriteContext{
    min-width: 700px; 
    min-height: 400px;
    font-size: 20px;
    font-family: Helvetica;
    border-color:lightblue;
}


#redirect{
    margin-top: 30px;
}
#summaryInput{
    width: 700px;
    border-color: lightblue;
    border-width: 1px;
}
#summary{
    margin-top:10px;
}

#deleteBtn{
    background-color: red;
    color: white;
    margin-left: 50%;
    padding: 4px;
    padding-left: 9px;
    padding-right: 9px;
}