.MainTitle{
    padding-bottom: 10px;
    font-family: "HelveticaNeueLT Std Med";
}
.SubTitle{
    font-weight:bold ;
    font-size: 140%; 
}

.hide {
    display: none;
  }
.show {
    display: block;
    min-width: 700px; 
    min-height: 400px;
    font-size: 20px;
    font-family: Helvetica;
    border-color:lightblue;
  }
  
#summaryInput{
    width: 700px;
    border-color: lightblue;
    border-width: 1px;
}
#summary{
    margin-top:10px;
}

#deleteBtn{
    background-color: red;
    color: white;
    margin-left: 50%;
    padding: 1px;
    padding-left: 9px;
    padding-right: 9px;
}
#previewTextarea{
    border-width: 1px;
    min-width: 700px; 
    min-height: 400px;
    font-size: 20px;
    font-family: Helvetica;
    border-color:lightblue;
}